:root {
  // PM2.5 Colors
  --color-green: #1de208;
  --color-yellow: #e2e020;
  --color-orange: #e26a05;
  --color-red: #e20410;
  --color-purple: #7f01e2;
  --color-brown: #903305;
  --color-blue: #166de2;
  --color-gray: #d1d3d5;
  --color-lightgray: #e7e9eb;

  // AQI Colors
  --color-aqi-good: #00e400;
  --color-aqi-moderate: #ffff00;
  --color-aqi-unhealthy-sensitive: #ff7e00;
  --color-aqi-unhealthy: #ff0000;
  --color-aqi-very-unhealthy: #8f3f97;
  --color-aqi-hazardous: #7e0023;

  // Text Colors
  --color-text-dark: #2c3e50;
  --color-text-light: #ffffff;

  // UI Colors
  --color-primary: #1c75bc;
  --color-secondary: #fc7e10;
  --color-border: rgba(0, 0, 0, 0.2);
  --color-shadow: rgba(0, 0, 0, 0.1);
  --color-shadow-darker: rgba(0, 0, 0, 0.2);
} 